@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1;
}

h3 {
  font-size: 2rem;
  line-height: 1.1;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.1;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.1;
}

.container {
  max-width: 95vw;
  width: 90vw;
  margin: 0 auto;
  z-index: 10;
}

/* Header */


/* Home Hero */

.header {
  position: sticky;
  top: 0;
  z-index: 11;
}

.hero {
  background-image: url("./assets/images/hero_bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 5rem 0;
  min-height: 88vh;
}

.hero::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  box-shadow: 0 0 200px black inset;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgb(0, 0, 0); */
  background: linear-gradient(
    133deg,
    rgba(0, 0, 0, 1) 44%,
    rgba(255, 255, 255, 0.1) 72%
  );
  opacity: 0.9;
  /* z-index: 1; */
}

/* Zoom in */

.zoom-in {
  width: 100%;
  z-index: -1;
  object-fit: cover;
  animation: zoom 7s linear infinite;
}

.overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=050505&c2=f6f4f8&gt=r&gd=dcc
*/
/* background: #050505; */
background: radial-gradient(at center, #050505, #f6f4f82e);
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.what-we-do .container {
  /* border-radius: 20px; */
  /* box-shadow: 0 0 50px black; */
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

/* Our Methods */

.grid {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.card {
  padding: 1rem;
}

/* Careers */

.careers .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
}

.career-btn {
  @apply py-3 px-8 bg-[#007aff] rounded-[30px] text-white font-semibold;
}

.white-btn {
  @apply py-3 px-8 bg-white rounded-[30px] text-[#3b82f6]  border border-solid border-[#3b82f6] font-semibold;
}

/* Footer */

.footer {
  padding: 5rem 0;
}

.footer a {
  font-weight: 200;
}

.agreements,
.agreements a {
  color: black;
}

.agreements a {
  font: 10px;
  font-weight: bold;
}
